<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevRock Challenge #1</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/styles.css">
</head>

<body>
  <img src="../img/bg-01.svg" class="bg-circle top-rigth" alt="">
  <img src="../img/bg-02.svg" class="bg-circle bottom-left" alt="">
  <div class="container">
    <header class=header>
      <ul class="header__box-items">
        <li class="header__item">
          <a href="https://www.linkedin.com/in/matias-hernan-sierra/"><i class="fab fa-linkedin fa-2x"></i></a>
        </li>
        <li class="header__item">
          <a href="https://www.behance.net/MatiasSierra"><i class="fab fa-behance fa-2x"></i></a>
        </li>
        <li class="header__item">
          <a href="https://dribbble.com/matiassierra"><i class="fab fa-dribbble fa-2x"></i></a>
        </li>
        <li class="header__item">
          <a href="https://www.instagram.com/mati__raw/"><i class="fab fa-instagram fa-2x"></i></a>
        </li>
        <li class="header__item">
          <a href="https://twitter.com/"><i class="fab fa-twitter fa-2x"></i></a>
        </li>
        <li class="header__item">
          <a href="mailto:hernanmatiassierra@gamail.com"><i class="far fa-envelope fa-2x"></i></a>
        </li>
      </ul>
    </header>
    <main>
      <section class="aboutme">
        <div class="aboutme__box-left">
          <h3 class="aboutme__title">
            Matías Sierra,
          </h3>
          <h3 class="aboutme__title">
            Diseñador Gráfico
          </h3>
          <h3 class="aboutme__title">
            <span class="aboutme__bg">Desarrollador web</span>.
          </h3>
          <p class="aboutme__description">
            Hola!👋 Me llamo Matías Sierra.
            Tengo 28 años y soy diseñador gráfico. Me encanta la web y todo lo que conlleva...
            ...Por eso dececidí meterme de lleno en este maravilloso mundo 👨‍💻🙌!
            Actualmente me encuentro cursando la Lic. En Sistemas en la Universidad Nacional de Lanús
          </p>
          <a href="https://api.whatsapp.com/send?phone=541127197851" target="_blank" rel="noopener">
            <button class="aboutme__btn">Hablemos por wpp!</button>
          </a>
        </div>
        <div class="aboutme__box-right">
          <img class="bg-circle top-left" src="../img/bg-03.svg">
          </img>
          <picture>
            <img src="../img/perfil.jpg" alt="" class="aboutme__perfil">
            <div class="aboutme__perfil-bg"></div>
          </picture>
        </div>
      </section>
    </main>
    <footer>Realizado por Matías Sierra ☕ </footer>
  </div>
</body>

</html>